* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > *{
  padding: 20px;
}

header{
  background-color: black;
  color: white;
  padding: 10px;
}

header .container{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.page-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
}

.page-main div{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.break{
  max-width: none;
  color: white;
  background-color: black;
  justify-content: center;
  margin:0;
  padding: 7px;
}

footer{
  color: white;
  background-color: black;
  justify-content: center;
  margin:0;
  padding: 7px;
}

footer p{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#ong{
  margin-right: 200px;
  font-family:'DM Serif Text', serif;
  font-size: 40px;
}

.pacifico{
  font-family: 'Pacifico' ;
  font-size: 30px;
}

.container{
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

.titulos_h{
  margin: 10px;
 
}

.texto {
  margin: 50px;
  margin-top: 20px;
}

#objetivo {
  background-color: black;
  color: white;
  max-width: 1280px;
  padding-left: 90px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

li{
  list-style-type: disc;
}

.pg_link{
  /*background-color: grey;*/
  width: 400px;
  height: 600px;
  margin : 20px;
  margin-top: 0;
  border-radius: 30px;
  transition: width 0.3s, height 0.3s;
}

.pg_link:hover {
  width: 420px;
  height: 630px;
}

.fotosDeFundo{
  display: grid;
  place-items: center;
  margin-top: 20px;
}

#foto_hist{
  background-image:url(/img/foto_casa.PNG);
  transition: 0.3s;
}

#foto_hist:hover{
  background-image:url(/img/foto_casa_cor.PNG);
}

#foto_ajuda{
  background-image:url(/img/foto_ajuda.PNG);
  transition: 0.3s;
}

#foto_galeria{
  background-image:url(/img/foto_galeria.PNG);
  transition: 0.5s;
}

#foto_galeria:hover{
  background-image:url(/img/foto_galeria_cor.PNG);
}

#pgHist_img {
  width: 400px;
  height: 600px;
  border-radius: 10px;
}

.ft-redondas{
 border-radius: 50%;
}

.corpoh2{
  color:white;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

#processo{
  margin-left: 25%;
}

.formulario{
  background-color: gray;
  border-radius: 10px;
  margin: auto;
  height: 200px;
  width: 300px;
}

.input_form {
  border-radius: 50px;
  margin : 10px;
} 

@media screen and (min-width: 768px){
  .page-header{
    padding-left: 90px;
  }
  .page-main{
    padding-left: 90px;
  }
}